@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "ss01";
}

.legal-content h2 {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
}

.legal-content ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.legal-content li {
  margin-top: 0.5rem;
}
